@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
}

body {
    background-color: #031927;
    color: rgb(220, 220, 220);
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#overlay {
    height: 100lvh;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-container {
    height: 100lvh;
    width: 100%;
}

#home {
    padding-left: 15%;
    padding-top: 15%;
    width: 50%;
}

#about {
    padding-left: 15%;
    width: 50%;
}

#projects {
    padding-left: 15%;
    padding-top: 5%;
    width: 50%;
}

#contact {
    padding-left: 15%;
    padding-top: 5%;
    width: 50%;
    clear: both;
}

#footer {
    text-align: center;
    font-size: 0.6rem;
    padding: 1% 0;
    color: rgb(150, 150, 150);
}

/* mobile/tablet */
@media (max-width: 767px) and (orientation: portrait) {
    #overlay {
        width: 10%;
        left: 90%;
    }
    #home {
        padding-left: 5%;
        padding-top: 50%;
        width: 70%;
    }
    #about {
        padding-left: 5%;
        width: 70%;
    }
    #projects {
        padding-left: 5%;
        padding-top: 5%;
        width: 70%;
    }
    #contact {
        padding-left: 5%;
        padding-top: 5%;
        width: 70%;
        clear: both;
    }
}