.button {
  display: inline-block;
  border-radius: 5px;
  padding: 1.5rem 2.2rem;
  color: #fff;
  background-color: transparent;
  border: 2px solid var(--lighter-color);
  transition: background-color 0.1s ease-in-out;
}

.button:hover {
  background-color: var(--lighter-color);
}

.contact-svg {
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--lighter-color);
  padding: 0;
}

.contact-a {
  width: 1.2rem;
  height: 1.2rem;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.mini-flag {
  width: 1rem;
  height: 1rem;
}

.vertical-line {
  border: 1px solid var(--lighter-color);
  height: 20lvh;
}

.horizontal-line {
  border: 1px solid var(--darker-color);
  width: 65%;
  margin-bottom: 4%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  font-family: "Nunito", sans-serif;
  visibility: hidden;
  width: 120px;
  color: var(--lighter-color);
  padding-left: 0.5rem;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

@media (max-width: 767px) and (orientation: portrait) {
  .horizontal-line {
    border: 1px solid var(--darker-color);
    width: 100%;
    margin-bottom: 4%;
  }
  
  .tooltip:hover .tooltip-text {
    visibility: hidden;
  }
}