/* text */
#title {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
}

.highlight {
    color: var(--lighter-color);
}

.bold {
    font-weight: 700;
}

.enchanted {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    background-color: #000;
    background-image: linear-gradient(45deg, var(--gradient-start-color) 25%, var(--gradient-end-color) 75%);
    background-size: 100% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mini {
    font-size: 1rem;
    font-weight: normal;
    color: var(--darker-color);
    font-family: 'Nanum Pen Script', cursive;
}

.small {
    font-size: 2rem;
    font-weight: normal;
    color: var(--darker-color);
    font-family: 'Nanum Pen Script', cursive;
}

/* non-text */
.no-bottom-margin {
    margin-bottom: 0;
}

.no-top-margin {
    margin-top: 0;
}

.smaller {
    scale: 0.85;
}

/* mobile/tablet */
@media (max-width: 767px) and (orientation: portrait) {
    #title {
        font-size: 2.5rem;
        font-weight: 700;
    }
    .typing-animation {
        font-size: 0.75rem;
    }
}