@font-face {
    font-family: 'Nanum Pen Script', cursive;
    src: url('../assets/fonts/NanumPenScript-Regular.ttf') format('truetype');
    font-weight: normal;
}

#title {
    font-size: 3.5em;
    font-weight: 700;
}

.highlight {
    color: rgb(255, 255, 255);
}

.bold {
    font-weight: 700;
}

.enchanted {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    background-color: #000;
    background-image: linear-gradient(45deg, rgb(115, 150, 255) 25%, rgb(100, 215, 255) 75%);
    background-size: 100% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mini {
    font-size: 1em;
    font-weight: normal;
    color: rgb(150, 150, 150);
    font-family: 'Nanum Pen Script', cursive;
}

/* mobile/tablet */
@media (max-width: 767px) and (orientation: portrait) {
    #title {
        font-size: 2.25em;
        font-weight: 700;
    }
    .typing-animation {
        font-size: 0.75em;
    }
}